
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
			<div class="search-box">
				<div class="caption">
					<h3>Login</h3>
					
				</div>
				<form action="" class="loginForm">
					<div class="input-group">
						<input type="text" id="name" style="border-radius: 7px;" class="form-control" placeholder="email Id">
						<input type="password" id="paw" style="border-radius: 7px;" class="form-control" placeholder="Password">
						<input type="submit" id="submit" style="border-radius: 7px;" class="form-control btn btn-info" value="Submit">
					</div>
				</form>
				<a href="#" onclick="document.getElementById('id01').style.display='block'" style="float: right;width:auto;" >Register</a>

			</div>
		</div>
		
	</div>
</div>
<div class="container">
<div id="id01" class="modal" style="margin-top:155px;"> 
	<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
	<form class="modal-content animate" action="/action_page.php">
	  <div class="container">
		  <div class="row">
		  <div class="col-sm-4">
		<label><b>Email</b></label>
		<input type="text" class ="form-control" placeholder="Enter Email" name="email" required>
	</div>

<div class="col-sm-4">
		<label><b>Password</b></label>
		<input type="password"  class ="form-control" placeholder="Enter Password" name="psw" required>
	</div>

<div class="col-sm-4">
		<label><b>Repeat Password</b></label>
		<input type="password"  class="form-control" placeholder="Repeat Password" name="psw-repeat" required>
		</div>
		</div>
		<input type="checkbox" checked="checked"> Remember me
		<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
  
  
		<div class="clearfix">
			<div class="row">
					
					<div class="col-sm-6 col-sm-offset-3">
		  <button type="button"  onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
		  <button type="submit"  class="signupbtn">Sign Up</button>
		  </div>
		  
		  
		  </div>
		</div>
	  </div>
	</form>
  </div>
</div>
  <script>
	// Get the modal
	var modal = document.getElementById('id01');
	
	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}
	</script>
	<style>
		/* Full-width input fields */
		input[type=text], input[type=password] {
			width: 100%;
			padding: 12px 20px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid #ccc;
			box-sizing: border-box;
		}
		
		/* Set a style for all buttons */
		button {
			background-color: #4CAF50;
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
		}
		
		/* Extra styles for the cancel button */
		.cancelbtn {
			padding: 14px 20px;
			background-color: #f44336;
		}
		
		/* Float cancel and signup buttons and add an equal width */
		.cancelbtn,.signupbtn {
			float: left;
			width: 50%;
		}
		
		/* Add padding to container elements */
		.container {
			padding: 16px;
		}
		
		/* Clear floats */
		.clearfix::after {
			content: "";
			clear: both;
			display: table;
		}
		
		/* Change styles for cancel button and signup button on extra small screens */
		@media screen and (max-width: 300px) {
			.cancelbtn, .signupbtn {
			   width: 100%;
			}
		}
		</style>
	

